<form method="POST" action="api/personas/guardar">
    <div>
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" required>
    </div>
    <div>
      <label for="precio">Precio</label>
      <input type="text" name="precio" required>
    </div>
      <input type="submit">
    </div>
  </form>